<html>
<head<></head>
<style>
    div {
        width: 40px;
        height: 40px;
        border: solid 1px black;
        display: inline-block;
        background-color: floralwhite;
    }
</style>
<body>
        <span>{{name}}</span>
        <color>{{color}}</color>
        <h1 id="winner"> </h1>
        <div name="tile" id="tile-0" onclick="makeMove(this)"></div>
        <div name="tile" id="tile-1" onclick="makeMove(this)"></div>
        <div name="tile" id="tile-2" onclick="makeMove(this)"></div>

        <br>
        <div name="tile" id="tile-3" onclick="makeMove(this)"></div>
        <div name="tile" id="tile-4" onclick="makeMove(this)"></div>
        <div name="tile" id="tile-5" onclick="makeMove(this)"></div>

        <br>
        <div name="tile" id="tile-6" onclick="makeMove(this)"></div>
        <div name="tile" id="tile-7" onclick="makeMove(this)"></div>
        <div name="tile" id="tile-8" onclick="makeMove(this)"></div>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket =  io();
        let color = "{{color}}";

        socket.on('gameStart', (player) => {
            console.log("player: : ", player);
        });

        socket.on('gameOver', (data) => {
            console.log("game over winner is : ", data.winner);
            document.getElementById("winner").innerHTML = data.winner + ' is the winner';
        });

        socket.on('move', (data) => {
            console.log("otherPlayerMoved: ", data.color);
            console.log("otherPlayerMoved: ", data.tileIndex);
            var att = document.createAttribute("class");       // Create a "class" attribute
            att.value = data.color;                           // Set the value of the class attribute
            document.getElementById(data.tileIndex).style.backgroundColor = data.color;
            document.getElementById(data.tileIndex).setAttributeNode(att);
        });
        var form = document.getElementById('game-form');
        console.log(form);
        function makeMove(element) {

            // if tile has not been clicked yet
            if(!element.getAttribute('class')) {
                var att = document.createAttribute("class");       // Create a "class" attribute
                att.value = color;                           // Set the value of the class attribute
                document.getElementById(element.id).style.backgroundColor = color;
                document.getElementById(element.id).setAttributeNode(att);
                move = parseInt(element.id.split('-')[1]);
                socket.emit('move', {board: getBoard(), color: color, tileIndex: element.id});
            }
          
        }

        function getBoard() {
           var tiles = Array.from(document.getElementsByName('tile'));
           mappedTiles = tiles.map( (tile) => {
               return tile.getAttribute('class');
           });
           return mappedTiles;
        }
    </script>
</body>
</html>
